DSD.ApVisaNet/DSD.Web.ApVisaNet/App_WebReferences/WCFClientes/Clientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Clientes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:34768/Clientes.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:34768/Clientes.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFCienteServices.Errores" />
      <xsd:import schemaLocation="http://localhost:34768/Clientes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:34768/Clientes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFCienteServices.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientes_ObtenerCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCliente" />
  </wsdl:message>
  <wsdl:message name="IClientes_ObtenerCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientes_ObtenerCliente_ClienteExcepcionesFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WCFCienteServices.Errores" name="detail" element="q1:ClienteExcepciones" />
  </wsdl:message>
  <wsdl:message name="IClientes_ValidarExisteCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarExisteCliente" />
  </wsdl:message>
  <wsdl:message name="IClientes_ValidarExisteCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarExisteClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientes">
    <wsdl:operation name="ObtenerCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/ObtenerCliente" message="tns:IClientes_ObtenerCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/ObtenerClienteResponse" message="tns:IClientes_ObtenerCliente_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClientes/ObtenerClienteClienteExcepcionesFault" name="ClienteExcepcionesFault" message="tns:IClientes_ObtenerCliente_ClienteExcepcionesFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarExisteCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientes/ValidarExisteCliente" message="tns:IClientes_ValidarExisteCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientes/ValidarExisteClienteResponse" message="tns:IClientes_ValidarExisteCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientes" type="tns:IClientes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerCliente">
      <soap:operation soapAction="http://tempuri.org/IClientes/ObtenerCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ClienteExcepcionesFault">
        <soap:fault use="literal" name="ClienteExcepcionesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ValidarExisteCliente">
      <soap:operation soapAction="http://tempuri.org/IClientes/ValidarExisteCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Clientes">
    <wsdl:port name="BasicHttpBinding_IClientes" binding="tns:BasicHttpBinding_IClientes">
      <soap:address location="http://localhost:34768/Clientes.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>