WCFCienteServices/WCFClienteServiceTest/Service References/ClientesWS/Clientes1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFCienteServices.Errores" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFCienteServices.Errores" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClienteExcepciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteExcepciones" nillable="true" type="tns:ClienteExcepciones" />
</xs:schema>